@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.header h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.header h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.contact-form {
  max-width: 800px;
  margin: 0 auto;  
  padding: 3rem;  
  transform: scale(1.2);  
  margin-bottom: 5rem;
}

.form-group input,
.form-group textarea {
  padding: 2rem;  
  font-family: 'Merriweather', sans-serif;
  width: 70%;
}

.form-group {
  margin-bottom: 1.5rem; 
  margin-top: 1rem;
}

.form-group label {
  margin-bottom: 1rem;
  display: block;
}

.contact-form button {
  border: 0.75px solid black;
}

.contact-form button:hover {
  background-color: #e0dcdc;
  border-color: #000;
}

@media (max-width: 768px) {
  .header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}
.header h1 {
  font-size: 8rem;
  margin-bottom: 1rem;
}
.header h2 {
  font-size: 1.2rem;
  font-weight: 300;
  width: 80%;
}

}
