.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  align-items: center;
  background-color: #fff1e6;
  color: #000000;
  position: fixed;      
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;         
  margin: 0;
  box-sizing: border-box;
  z-index: 1000;       
  
}

.navbar-links {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.navbar-links a {
  display: flex;
  align-items: center;  /* Fixes vertical alignment */
  gap: 0.5rem;          /* Adds space between icon and text */
}

.navbar a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar-logo {
  display: flex;
  align-items: center;  /* Fixes vertical alignment */
  gap: 0.5rem;          /* Adds space between icon and text */
}

.navbar a:hover {
  color: #555555;
}