.instagram-grid {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.header h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

