.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3 columns */
  gap: 2rem;  /* Space between items */
  padding: 2rem;
}

.gallery-item img {
  width: 100%;  
  height: 500px; 
  object-fit: cover;  
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.header h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.gallery-item img{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.gallery-item:hover img{
  transform: translateY(-10px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  
}